body {
  background: #f6f6f2;
}

h2 {
  text-align: center;
  color: #388087;
  font-family: "Roboto", sans-serif;
}

.card {
  background: transparent;
  margin-top: 3vh;
}

.card-link {
  color: black !important;
}
