.headerRow {
  text-align: center;
  font-family: "Poiret One", cursive;
  font-weight: bold;
  text-decoration: underline;
  color: #6fb3b8;
}

.ourVision {
  padding-top: 80px;
  text-align: center;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}

/* .aboutHeader {
  background-size: 800px;
  width: 100vw;
  height: 200px;
  /* background-color: blue; */
/* background-image: url(./logofinal3.png);
  background-repeat: no-repeat;
  background-position: center 0px;
  position: relative;
} */
