.main {
  clear: both;
  width: 100%;
}

.main img {
  display: block;
  margin: auto;
  height: 95px;
  padding-top: 112px;
}

form {
  text-align: center;
}

.searchbox {
  font-size: 16px;
  height: 26px;
  width: 600px;
  margin-top: 30px;
}
.Searchbutton {
  background: #4683ea;
  box-sizing: border-box;
  padding: 0.5em 0.75em;
  line-height: 28px;
  letter-spacing: normal;
}
