.main {
  clear: both;
  width: 100%;
}

.main img {
  display: block;
  margin: auto;
  height: 95px;
  padding-top: 112px;
}

form {
  text-align: center;
}

.searchbox {
  max-width: 600px;
  font-size: 16px;
  height: 26px;
  /* subtracting the width of the button from the with to fit the button */
  width: calc(100% - 26px);
  margin-top: 30px;
  border-width: thick;
}

.Searchbutton {
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  width: 26px;
  height: 26px;
  text-align: center;
}
