.bgimage {
  width:100%;
  height:500px;
  background: linear-gradient(rgba(0, 0, 0, 0.274), rgba(0, 0, 0, 0.281)), url('https://www.regions.com/-/media/Images/Insights/Pano-Images/Personal/P-LS-YP-FiveTipsForNailingTheInterview-Hero.jpg?revision=fc2ab295-1cb3-4050-935b-a60a7c2d0d15');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
.bgimage h5 {
  color:white;
  text-shadow:2px 2px #333;
  text-align: center;
  padding-top: 125px;
  font-size: 64px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.heroPara {
    text-align: center;
    color:whitesmoke;
    text-shadow:2px 2px #333;
    text-align: center;
}

.active-cyan input[type=text] {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}

.active-cyan .fa, .active-cyan-2 .fa {
  color: #4dd0e1;
}

.searchRow {
    padding-top: 100px;
    padding-left: 75px;
    text-align: center;
}