.footer {
  margin-top: 0rem;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: #6fb3b8;
  background-color: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
